@font-face {
  font-family: "VeggieSeddlings";
  size-adjust: 70%;
  src: url("../fonts/VeggieSeedlings1.ttf") format("truetype");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  min-height: 100vh;
  width: 100vw;
}

html {
  background: rgba(34, 112, 147, 1);
}

body {
  background: linear-gradient(
    to bottom,
    rgba(0, 184, 148, 1),
    rgba(34, 112, 147, 1)
  );
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-family: "VeggieSeddlings", Verdana, Arial, sans-serif;
  font-size: 10px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 80vw;
}

/* Header */
header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo a,
h1 a {
  color: rgba(255, 255, 255, 1);
  cursor: pointer;
  text-decoration: none;
}

h1 a:hover {
  color: rgba(247, 241, 227, 1);
  transition: color 0.4s ease-out;
}

.logo {
  margin: 0.5rem 0;
}

h1 {
  font-size: 2rem;
  letter-spacing: 0.2rem;
  line-height: 2rem;
  margin: 0 0 0 1.5rem;
  text-align: center;
}

/* Nav */
.links {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(45, 52, 54, 1);
  border-radius: 0.5rem 0.5rem 0 0;
  height: 3rem;
  width: 80vw;
}

#ham-label,
#hamburger {
  display: none;
}

.links li {
  letter-spacing: 0.1rem;
  list-style: none;
  margin-right: 1.5rem;
  text-align: center;
}

.links li:last-of-type {
  margin-right: 0;
}

.link {
  border-bottom: 0.1rem solid transparent;
  color: rgba(126, 214, 223, 1);
  font-size: 1.5rem;
  padding-bottom: 0.1rem;
  text-decoration: none;
  max-width: 100%;
}

.link:hover {
  border-bottom: 0.1rem solid rgba(247, 241, 227, 1);
  color: rgba(247, 241, 227, 1);
  transition: border-bottom 0.4s ease-out, color 0.4s ease-out;
}

.link.active {
  border-bottom: 0.1rem solid rgba(223, 249, 251, 1);
  color: rgba(223, 249, 251, 1);
}

/* Main Content */
main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgba(240, 255, 255, 1);
  border-radius: 0;
  padding: 0.5rem;
  width: 80vw;
  text-align: left;
}

/* Banner Section */
.banner {
  background-color: rgba(45, 52, 54, 1);
  background-image: url("../images/landscape-1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 60%;
  border-radius: 0.5rem;
  height: 55vh;
  margin: 0.5rem;
  padding: 0 1rem;
  animation: banner 20s ease-in-out 0s infinite;
}

/* Banner Background Image Animation */
@keyframes banner {
  0%,
  32% {
    background-image: url("../images/landscape-1.jpg");
  }
  33%,
  65% {
    background-image: url("../images/landscape-3.jpg");
  }
  66%,
  100% {
    background-image: url("../images/landscape-4.jpg");
  }
}

/* Banner Text Animation */
.text {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  color: rgba(255, 255, 255, 1);
  height: 100%;
  text-align: center;
}

.text::before {
  background-color: rgba(44, 62, 80, 0.8);
  border-radius: 0.5rem;
  content: "Family business for 20 years";
  font-size: 1.8rem;
  letter-spacing: 0.2rem;
  line-height: 1.8rem;
  margin: 2rem 0;
  padding: 0.5rem;
  animation: text 20s ease-in-out 0s infinite;
}

@keyframes text {
  0%,
  32% {
    content: "Family business for 20 years";
  }
  33%,
  65% {
    content: "Quality work that shows";
  }
  66%,
  100% {
    content: "Give us a call for a free consultation";
  }
}

/* Second Section Articles */
.section-2 {
  display: flex;
  width: 100%;
}

.section-2 article {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: rgba(44, 62, 80, 1);
  border-radius: 0.5rem;
  color: rgba(85, 239, 196, 1);
  flex: 1;
  margin: 0.5rem;
  padding: 0 1rem 1rem;
  overflow: auto;
  text-align: left;
}

h3 {
  color: rgba(247, 241, 227, 1);
  font-size: 1.6rem;
  letter-spacing: 0.2rem;
  line-height: 2rem;
  margin: 1.5rem 0;
  text-align: center;
}

.transparent {
  opacity: 0;
  visibility: hidden;
}

article p {
  font-size: 1.2rem;
  line-height: 1.5rem;
}

/* Article Image Hover Animation */
.icon {
  display: block;
  border-radius: 50%;
  cursor: pointer;
  margin: 0 auto 1.5rem;
}

.icon:hover {
  animation: flip 0.8s ease-in-out 0.1s 1;
}

@keyframes flip {
  from {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  }
  to {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
}

/* Footer Styles */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(45, 52, 54, 1);
  padding: 0.8rem 0;
  bottom: 0;
  width: 80vw;
}

footer div {
  color: rgba(240, 255, 255, 1);
  font-size: 1.3rem;
}

footer div:first-of-type {
  margin-right: 2rem;
}

footer div:nth-child(2) {
  margin-top: 0.5rem;
}

.copy {
  display: inline-block;
  font-size: 1.1rem;
  margin: 0 0.2rem;
}

.phone {
  display: block;
  font-size: 1.2rem;
  letter-spacing: 0.2rem;
  margin: 0.5rem 0;
}

/* Small Screen Media Queries */
@media screen and (max-width: 768px) {
  header {
    width: 80vw;
  }
  h1 {
    margin: 0;
  }

  nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .links li {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 0.1rem solid rgba(247, 241, 227, 1);
    margin-right: 0;
    padding: 1rem 0 0.8rem;
    width: 100%;
  }

  .link {
    width: fit-content;
  }

  #ham-label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(45, 52, 54, 1);
    border-radius: 0.4rem;
    color: rgba(255, 255, 255, 1);
    height: 3rem;
    width: 3rem;
    padding: 0 0.1rem;
    margin-bottom: 0.5rem;
  }

  .ham-icon {
    display: inline-block;
    font-size: 2.5rem;
    margin-top: -0.3rem;
  }

  .x-icon {
    display: inline-block;
    font-size: 2rem;
  }

  .links {
    display: none;
  }

  nav input:checked ~ .links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    text-align: center;
  }

  .link {
    display: block;
    padding: 0;
  }

  .links,
  main,
  footer {
    width: 94vw;
  }

  main {
    border-radius: 0.5rem 0.5rem 0 0;
  }

  .text {
    font-size: 1.2rem;
    margin: 0 0.5rem;
  }

  .section-2 {
    display: block;
  }
}
